<html>
<head>

</head>

<body>
  <div id=navbar>
    <ul> 
      <li><a href="/welcome">Home</a></li> 
      <li>
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Rules</a>
        <div id="light" class="white_content">Game rules go in here
          <br> <br> <a href = "javascript:void(0)" style="color: red" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Click Here To Go Back</a></div>
        <div id="fade" class="black_overlay"></div>
      </li>
    </ul> 
  </div>
<%if params[:game]=="compguessing" %>
    <h2>
      Computer Guesses: <%="#{@answer}"%>
    </h2>
<%elsif params[:game]=="userguessing"%>
    <h2>
      The computer was thinking of <%="#{@answer}"%>
    </h2>
    <%if params[:guess]==@answer %>
       <p>You guessed correctly!</p>
    <% elsif !params[:guess].nil? %>
       <p>Better luck next time.</p> <!--Why does this render?-->
    <%end%>
<%end%>


<h2> Would you like to play again? </h2>
<%=link_to "Play Again!",  {:action=>"index", :controller=>"welcome"},:class => 'button'%>

</body>

</html>
