<html>
<head>

</head>

<body>
  <div id=navbar>
    <ul> 
      <li><a href="/welcome">Home</a></li> 
      <li><a href="#">Rules</a></li> 
    </ul> 
  </div>
<%if params[:game]=="compguessing" %>
    <h2>
      Computer Guesses: <%="#{@answer}"%>
    </h2>
<%elsif params[:game]=="userguessing"%>
    <h2>
      The computer was thinking of <%="#{@answer}"%>
    </h2>
    <%if params[:guess]==@answer %>
       <p>You guessed correctly!</p>
    <% elsif !params[:guess].nil? %>
       <p>Better luck next time.</p> <!--Why does this render?-->
    <%end%>
<%end%>


<h2> Would you like to play again? </h2>
<%=link_to "Play Again!",  {:action=>"index", :controller=>"welcome"},:class => 'button'%>

</body>

</html>
