<html>
<head>
  <h1>New playagain page.  Will show computer's guess or if user's guess was correct.</h1>
</head>

<body>
<p>
  Computer guesses: ****
</p>
<p>
  You guessed correctly/wrongly!
</p>

<p> Would you like to play again? </p>
<%=link_to "Go to Categories",  {:action=>"index", :controller=>"welcome", :thing=>"some_action"},:class => 'button', :id => 'title_header'%>

</body>

</html>
