<html>
<head>
  <h1>This is the Play Again page for user guessing!!!</h1>
</head>

<body>
<comment>
  Display if the user got the right answer and ask the question "play again"
</comment>
</body>

</html>
