<html>
<head>
  <h1>Welcome to Twenty Questions!</h1>
</head>

<body>
  <div id=navbar> 
    <ul> 
      <li><a href="/welcome">Home</a></li>
      <li>
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Rules</a>
        <div id="light" class="white_content">Game rules go in here
          <br> <br> <a href = "javascript:void(0)" style="color: red" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Click Here To Go Back</a></div>
        <div id="fade" class="black_overlay"></div>
      </li>
    </ul> 
  </div>
  <h2>Would you like to pick an object, or guess mine?</h2>
<div id=button_holder> 
    <%=link_to "Computer guess your object",  categories_path(:game=>"compguessing"),:class => 'button'%>
    <%=link_to "Guess computer's object",  categories_path(:game=>"userguessing"),:class => 'button'%>
</div>

</body>


<head>
  <title>LIGHTBOX EXAMPLE</title>
  <style>

  </style>
</head>


</html>
