<html>
<head>
  <h1>This is the Welcome and Pick page!!!</h1>
</head>

<body>
  <div id=navbar> 
    <ul> 
      <li><a href="/welcome">Home</a></li> 
      <li><a href="/rules">Rules</a></li> 
    </ul> 
  </div>
<div id=button_holder> 
    <%=link_to "Guess",  categories_path(:game=>"compguessing"),:class => 'button'%>
    <%=link_to "Pick",  categories_path(:game=>"userguessing"),:class => 'button'%>
</div>

<!----
Test Link. Store here for now if you want.
<%=link_to "Pick",  {:action=>"index", :controller=>"playagain", :game=>"pick"},:class => 'button'%>
--->

</body>

</html>
