<html>
<head>
  <h1>This is the Welcome and Pick page!!!</h1>
</head>

<p>
  This link is only here to show you how button_to works
</p>
<p>
  This page will have the welcome message and two buttons
</p>
<p>
  one button that says pick and the other that says guess
</p>
<body>

<%=link_to "Go to Categories",  categories_path(:thing => 'some_action'),:class => 'button', :id => 'title_header'%>

<!----
Test Link. Store here for now if you want.
<%=link_to "Go to Categories",  {:action=>"index", :controller=>"playagain", :thing=>"some_action"},:class => 'button', :id => 'title_header'%>
--->

</body>

</html>
