<html>
<head>
  <h1>This is the Categories page!!!</h1>
</head>

<body>
<p>
  Based off what the user picked on the welcome page, this page will route to the compguessing or userguessing index.
</p>
<p>
  This will after the user has picked a category
</p>

</body>

</html>
