<html>
<head>
  <h1>Pick a category from the buttons below!</h1>
</head>

<body>
  <p>
    Based off what the user picked on the welcome page, this page will route to the compguessing or userguessing index.
  </p>
  <p>
    This will after the user has picked a category
  </p>
  <%=link_to "Star Wars",  {:action=>"index", :controller=>"compguessing", :thing=>"star_wars"},:class => 'button'%>
  <%=link_to "Star Trek",  {:action=>"index", :controller=>"compguessing", :thing=>"star_trek"},:class => 'button'%>
</body>

</html>
