<html>
<head>
  <h1>Choose A Category</h1>
</head>

<body>
  <div id=navbar>
    <ul>
      <li><a href="/welcome">Home</a></li>
      <li><a href="#">Rules</a></li>
    </ul>
  </div>
  <p>
    Based off what the user picked on the welcome page, this page will route to the compguessing or userguessing index.
  </p>
  <p>
    This will after the user has picked a category 
    <div id=button_holder>
      <%=link_to "Star Wars",  {:action=>"index", :controller=>"#{@game_type}", :category=>"starwars"},:class => 'button'%>
      <%=link_to "Star Trek",  {:action=>"index", :controller=>"#{@game_type}", :category=>"startrek"},:class => 'button'%>
   </div>
  </p>
</body>

</html>
