<html>
<head>
  <h1>This is the Computer Guessing page!!!</h1>
</head>

<body>
  <div id=navbar> 
    <ul> 
      <li><a href="/welcome">Home</a></li> 
      <li><a href="#">Rules</a></li> 
    </ul> 
  </div>
<div class= 'center'>
  <div class='box'>
    <%= @question.answer_or_question.to_s%>
  </div>
</div>
  <div id=button_holder> 
    <%=link_to "Yes",  {:action=>"index",  :category=>"starwars", :node_number => @node_number},:class => 'button'%>
    <%=link_to "No",  {:action=>"index",  :category=>"starwars"},:class => 'button'%>
  </div>

</body>

</html>
