<html>
<head>
  <h1>This is the Computer Guessing page!!!</h1>
</head>

<body>
  <div id=navbar> 
    <ul> 
      <li><a href="/welcome">Home</a></li> 
      <li><a href="#">Rules</a></li> 
    </ul> 
  </div>
<comment>
  This page is for when the computer is guessing
</comment>
</body>

</html>
