<html>
<head>
  <h1>Computers Question</h1>
</head>

<body>
  <div id=navbar> 
    <ul> 
      <li><a href="/welcome">Home</a></li> 
      <li>
        <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Rules</a>
        <div id="light" class="white_content">Game rules go in here
          <br> <br> <a href = "javascript:void(0)" style="color: red" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Click Here To Go Back</a></div>
        <div id="fade" class="black_overlay"></div>
      </li>
    </ul> 
  </div>

  <h2><%= @question.answer_or_question.to_s%></h2>



  <div id=button_holder> 
    <%=link_to "Yes",  {:action=>"index", :controller=> "compguessing",  :category=>"#{@category}", :node_number => (@node_number), :button_clicked => "yes"},:class => 'button'%>
    <%=link_to "No",  {:action=>"index", :controller=> "compguessing", :category=>"#{@category}", :node_number => (@node_number), :button_clicked => "no"},:class => 'button'%>
  </div>

</body>

</html>
